<div class="request-page">

  <!-- Header -->
  <header class="request-header">
    <button class="back-btn" routerLink="/rider-dashboard">
      ← Back
    </button>

    <h1>RideNow</h1>

    <span class="header-title">Request a Ride</span>
  </header>

  <!-- Main Content -->
  <main class="request-container">

    <!-- MAP -->
    <section class="map-section">

      <div class="map-heading">
        <div>
          <h3>📍 Choose your route</h3>
          <p>Select your pickup and destination on the map.</p>
        </div>
      </div>

      <div id="ride-map"></div>

    </section>

    <div class="request-intro">
      <span class="location-icon">📍</span>

      <div>
        <h2>Where are you going?</h2>
        <p>Enter your pickup location and destination.</p>
      </div>
    </div>

    <form [formGroup]="rideForm" (ngSubmit)="requestRide()">

      <!-- Locations -->
      <section class="location-section">

        <div class="location-input">
          <div class="icon pickup-icon">●</div>

          <div class="input-content">
            <label>Pickup Location</label>

            <input type="text" formControlName="pickup" placeholder="Where should we pick you up?">
          </div>
        </div>

        <div class="location-line"></div>

        <div class="location-input">
          <div class="icon destination-icon">●</div>

          <div class="input-content">
            <label>Destination</label>

            <input type="text" formControlName="destination" placeholder="Where are you going?">
          </div>
        </div>

      </section>

      <!-- Ride Type -->
      <section class="ride-type-section">

        <h3>Choose your ride</h3>

        <div class="ride-options">

          <label class="ride-option">
            <input type="radio" formControlName="rideType" value="Standard">

            <div class="ride-option-content">
              <div class="ride-icon">🚗</div>

              <div>
                <strong>Standard</strong>
                <p>Affordable everyday ride</p>
              </div>
            </div>

          </label>

          <label class="ride-option">
            <input type="radio" formControlName="rideType" value="Premium">

            <div class="ride-option-content">
              <div class="ride-icon">🚘</div>

              <div>
                <strong>Premium</strong>
                <p>More comfort, more space</p>
              </div>
            </div>

          </label>

        </div>

      </section>

      <button type="button" class="calculate-btn" (click)="calculateRoute()"
        [disabled]="rideForm.get('pickup')?.invalid || rideForm.get('destination')?.invalid || loadingRoute">

        {{ loadingRoute ? 'Calculating route...' : 'Get Fare Estimate 📍' }}

      </button>

      <!-- Summary -->
      <section class="ride-summary">

        <div>
          <span>Distance</span>
          <strong>
            {{ distanceKm > 0 ? (distanceKm | number:'1.1-1') + ' km' : '--' }}
          </strong>
        </div>

        <div>
          <span>Ride type</span>
          <strong>{{ rideForm.value.rideType }}</strong>
        </div>

        <div>
          <span>Estimated fare</span>
          <strong>
            {{ estimatedFare > 0 ? ('₦' + estimatedFare) : '--' }}
          </strong>
        </div>

      </section>

      <section class="payment-section">

        <h3>Choose payment method</h3>
        <p>Payment will be completed after your ride.</p>

        <div class="payment-options">

          <label class="payment-option">
            <input type="radio" formControlName="paymentMethod" value="cash">

            <div class="payment-option-content">
              <div class="payment-icon">💵</div>

              <div>
                <strong>Cash</strong>
                <span>Pay the driver after your ride</span>
              </div>
            </div>
          </label>

          <label class="payment-option">
            <input type="radio" formControlName="paymentMethod" value="card">

            <div class="payment-option-content">
              <div class="payment-icon">💳</div>

              <div>
                <strong>Card</strong>
                <span>Pay securely after your ride</span>
              </div>
            </div>
          </label>

        </div>

      </section>

      <!-- Submit -->
      <button type="submit" class="request-btn" [disabled]="rideForm.invalid">
        Request Ride 🚗
      </button>

    </form>

  </main>

</div>

<app-modal [show]="modalVisible" [title]="modalTitle" [message]="modalMessage" [type]="modalType" (close)="closeModal()"
  (confirm)="confirmAction()">
</app-modal>